<!-- #banner -->
<div id="banner">
  <div class="banner_content">
    <h1>FileCabinet</h1>
    <p>Your life's work. Organized, always.</p>
    <button><%= link_to "Enter", new_user_registration_path %></button>
  </div>
</div>

<!-- #callouts -->
<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <div class="callout">
        <h2>Organize</h2>
        <p>"
Document organization is crucial for efficiency and clarity. Properly structured documents enhance accessibility and retrieval, facilitating streamlined workflows. Clear categorization, logical hierarchies, and standardized naming conventions contribute to a systematic approach. Efficient document organization ensures quick identification of relevant information, reducing confusion and improving overall productivity in various professional and personal contexts"</p>
      </div>
    </div>
  </div>
</div>

<!-- #bottom_cta -->
<div id="bottom_cta" class="wrapper">
  <h2>Go Ahead</h2>
  <br>
  <button><%= link_to "Join Now", new_user_registration_path %></button>
</div>



